/***************
ABOUT
***************/

#about {
	margin-top: 120px;
}

h3 {
	text-align: center;
}



/***************
PORTFOLIO
***************/

.port_div {
	background: $dark_blue;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.gallery {
 	padding: 0;
 	list-style: none;
}

.gallery li {
	height: 460px;
	width: 98%;
 	margin: 5px auto;
 	text-align: center;
}

.gallery li:last-child {
	margin-bottom: 20px;
}

img.project {
	clear: both;
	width: 290px;
	height: 310px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.gallery li p {
 	margin: 0;
 	padding: 0;
}

.gallery h2 {
	margin-bottom: 10px;
	margin-top: 10px;
	color: $white;
	font-size: 1.1em;
}



/***************
CONTACT
***************/

#contact h2 {
 	margin: 20px auto;
}

p.contact {
	margin: 0 30px;
}





