/***************
ABOUT
***************/

#about {
	@include mobile {
		margin-top: 100px;
	}
	@include mobile2 {
		margin-top: 140px;
	}
	@include tablet {
		margin-top: 210px;
	}
}

h3 {
	text-align: center;
}



/***************
PORTFOLIO
***************/

.portfolio_div {
	background: $dark_blue;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.gallery {
	padding: 0;
	list-style: none;
}

.gallery li {
	@include mobile {
		height: 590px;
		width: 98%;
	 	margin: 5px auto;
	 	text-align: center;
	}
	@include tablet {
		height: 655px;
		width: 320px;;
		display: inline-block;
		margin: 0 auto;
		float: left;
	}
	@include desktop {
		height: 400px;
	}
}

.gallery li:last-child {
	@include mobile {
		margin-bottom: 20px;
	}
	@include tablet {
		margin-bottom: 30px;
	}
}

.gallery h2 {
	margin-bottom: 10px;
	margin-top: 10px;
	color: $white;
	font-size: 1.1em;
}

img.project {
	clear: both;
	width: 290px;
	height: 310px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.description {
	@include mobile {
		width: 100%;
	}
	@include tablet {
		width: 320px;
	}
	@include desktop {
		display: none;
		position: relative;
		top: -330px;
		width: 290px;
		height: 311px;
		padding-top: 20px;
		border-radius: 10px;
		padding-bottom: 20px;
		background:rgba(0,0,0,0.6)
	}
}

.desc_p {
	@include mobile {
		color: $white;
		width: 310px;
		margin: 0 auto;
	}
	@include tablet {
		height: 150px;
		margin-bottom: 10px;
	}
	@include desktop {
		width: 290px;
	}
}



/***************
CONTACT
***************/

#contact h2 {
 	margin: 20px auto;
}

p.contact {
	margin: 0 30px;
}





