/***************
FOOTER
***************/

#social_logos {
	text-align: center;
	padding-left: 0;
}

#social_logos li {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 5px;
	margin-top: 20px;
}

.phone,
.mail {
	margin-right: 10px;
}

.foot_copy {
	text-align: center;
	margin-top: 25px;
}


/***************
CONTACT
***************/

#contact h2 {
	@include mobile {
	 	margin: 10px auto;
	 	margin-top: 30px;
	}
	@include tablet {
		margin-top: 40px;
	}
}


