/***************
HEADER
***************/

#fixed_nav {
	max-width: 1200px;
	height: 50px;
	margin: 0 auto;
	background: $dark_blue;
	position: fixed;
	margin-top: -16px;
	border-bottom: 2px solid $white;
}

.header {
  margin-top: -5px;
}

h1 {
 	text-align: center;
 	font-size: 2em;
}

.intro {
  padding: 40px;
}

#name {
	padding-top: 45px;
}



/***************
NAV
***************/

.nav {
	display: none;
	width: 100%;
	text-align: center;
 	margin: 0 auto;
 	margin-top: 34px;
 	padding-left: 0;
 	position: fixed;
	background: $dark_blue;
	border-bottom: 2px solid $white;
}

.nav a {
	color: $white;
}

.nav ul {
 	list-style: none;
}

.nav li a {
	display: block;
 	padding: 12px;
 	margin: 5px auto;
}




