/***************
HEADER
***************/

.header {
  margin-top: -5px;
}

h1 {
 	text-align: center;
 	font-size: 2em;
}

p {
 	text-align: center;
 	margin: 10px auto;
 	padding: 10px 5%;
}

.intro {
  padding: 40px;
}



/***************
NAV
***************/

.nav {
	text-align: center;
 	padding: 10px;
 	margin: 5px 0 20px;
}

.nav ul {
 	list-style: none;
}

.nav li a {
	display: block;
 	padding: 12px;
 	margin: 5px auto;
}




