/***************
GENERAL
***************/

* {
   box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
  font-weight: normal;
}

a {
  text-decoration: none;
	color: $black;
	font-weight: normal;
}

ul {
  list-style-type: none;
}

.screenshot {
  margin: 5px auto;
  width: 500px;
  height: 150px;
}

.img_div {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}



/***************
BODY
***************/

h2 {
 text-align: center;
padding: 5px 0;
}



.clearfix:after {
   content: "";
   display: table;
   clear: both;
}






